@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: 'Cinzel', cursive;
    background: linear-gradient(to right, #87CEFA, #FFB6C1);
    color: black;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: bold;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF69B4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #ff3b85;
}
